<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
  	<title>title</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<!--
	<link rel="stylesheet" type="text/css" href="/CCTV/css/company/insert.css"/>
	 -->
  </head>
  <body>
    <form action="test" method="post" enctype="multipart/form-data">
      <input type="text" name="node" value="aaaa"/>
      <input type="file" name="file1"/>
      <input type="file" name="file2"/>
      <input type="text" name="explain" value="0001"/>
      <input type="text" name="explain" value="0002"/>
      <input type="text" name="explain" value="0003"/>
      <input type="text" name="remark" value="1001"/>
      <input type="text" name="remark" value="1002"/>
      <input type="text" name="remark" value="1003"/>
      <input type="file" name="files"/>
      <input type="file" name="files"/>
      <input type="file" name="files"/>
      <input type="submit" value="确定"/>
    </form>
  </body>
</html>