<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <title>个人项目</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="icon" type="image/x-icon" href="/survey/favicon.ico"/>
    <link rel="stylesheet" type="text/css" href="/survey/layui/css/layui.css"/>
    <link rel="stylesheet" type="text/css" href="/survey/css/common/itemlist.css"/>
    <link rel="stylesheet" type="text/css" href="/survey/css/project/showlist.css"/>
    <script type="text/javascript" src="/survey/js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="/survey/layui/layui-2.5.6.min.js"></script>
    <script type="text/javascript" src="/survey/js/project/showlist.js"></script>
</head>
<body>
<div th:replace="navigation::navigation"></div>

<div id="main">
    <div id="mainMenu">
        <div id="menuTitle" th:text="#{menu.title.text}"></div>
        <div class="menu1"><a href="/survey/project/showlist" th:text="#{menu.div.text1}"></a></div>
        <shiro:hasRole name="role2">
            <div class="menu2"><a href="/survey/project/findlist" th:text="#{menu.div.text2}"></a></div>
        </shiro:hasRole>
        <shiro:hasRole name="role3">
            <div class="menu2"><a href="/survey/markinfo/markview" th:text="#{menu.div.text3}"></a></div>
        </shiro:hasRole>
        <shiro:hasRole name="role3">
            <div class="menu2"><a href="/survey/markinfo/showlist" th:text="#{menu.div.text4}"></a></div>
        </shiro:hasRole>
        <shiro:hasRole name="role2">
            <div class="menu2"><a href="/survey/markinfo/findlist" th:text="#{menu.div.text5}"></a></div>
        </shiro:hasRole>
        <shiro:hasRole name="role2">
            <div class="menu2"><a href="/survey/operator/showlist" th:text="#{menu.div.text6}"></a></div>
        </shiro:hasRole>
        <shiro:hasRole name="role2">
            <div class="menu2"><a href="/survey/userinfo/showlist" th:text="#{menu.div.text7}"></a></div>
        </shiro:hasRole>
        <div class="menu2"><a href="/survey/message/showlist" th:text="#{menu.div.text8}"></a></div>
        <div class="menu2"><a href="/survey/userinfo/center" th:text="#{menu.div.text9}"></a></div>
    </div>

    <input type="hidden" name="name" th:value="${param.name}"/>
    <input type="hidden" name="sort" th:value="${param.sort}"/>
    <input type="hidden" name="type" th:value="${param.type}"/>
    <div id="mainInfo">
        <div id="infoTop" th:text="#{project.showlist.title}"></div>
        <div id="infoMenu" style="width: 885px">
            <span th:text="#{project.showlist.menu1}"></span>
            <input id="menuBtn1" type="button" value="←"/>
            <input id="menuText" th:value="${param.name}"/>
            <input id="menuBtn2" type="button" th:value="#{project.showlist.menu2}"/>
            <a id="menulink" href="iquerylist" target="_blank">井号查询</a>
        </div>
        <div id="append" class="layui-btn layui-btn-sm" th:text="#{project.showlist.button}"></div>

        <table id="tab1" class="layui-table">
            <thead>
            <tr height="40px" style="background-color:#51596b;">
                <th width="4%">No</th>
                <th width="18%" th:text="#{project.showlist.table.title1}" data-name="name"></th>
                <th width="14%" th:text="#{project.showlist.table.title2}" data-name="operator"></th>
                <th width="14%" th:text="#{project.showlist.table.title3}" data-name="datetime1"></th>
                <th width="12%" th:text="#{project.showlist.table.title4}" data-name="datetime2"></th>
                <th width="12%" th:text="#{project.showlist.table.title5}" style="background-color:#51596B"></th>
                <th width="12%" th:text="#{project.showlist.table.title6}" data-name="date"></th>
                <th width="14%" th:text="#{project.showlist.table.title7}" style="background-color:#51596B"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="project,status:${projects}" th:id="${project.id}">
                <td th:text="${status.count + (page - 1) * 15}"></td>
                <td>
                    <a th:href="@{editinfo(id=${project.id})}" th:text="${project.name}"></a>
                    <img src="/survey/img/展开.png" alt="" title="展开项目">
                </td>
                <td th:text="${project.operator}"></td>
                <td th:text="${project.datetime1}"></td>
                <td th:text="${project.datetime2}"></td>
                <td>正常</td>
                <td th:text="${project.date}"></td>
                <td>
                    <input type="button" class="layui-btn layui-btn-xs" th:value="#{project.showlist.table.button1}"/>
                    <input type="button" class="layui-btn layui-btn-xs layui-btn-normal" th:value="#{project.showlist.table.button2}"/>
                    <input type="button" class="layui-btn layui-btn-xs layui-btn-danger" th:value="#{project.showlist.table.button3}"/>
                </td>
            </tr>
            </tbody>
        </table>
        <img th:if="${#lists.isEmpty(projects)}" src="/survey/img/null.png" alt="" style="margin:145px 400px;float:left;">
        <div th:if="${!#lists.isEmpty(projects)}" id="pageMain" class="layui-form-item">
            <div id="page" th:data-p1="${page}" th:data-p2="${count}"></div>
        </div>
    </div>
</div>

<div style="width:100%;margin:20px 0;color:#ccc;text-align:center;font-size:14px;float:left;">
    <p style="line-height: 20px;margin: 10px 0;">香港麦斯迪埃高科技有限责任公司</p>
    <p style="line-height: 20px;margin: 10px 0;">Copyright © 2017 All Rights Reserved</p>
</div>
</body>
</html>