@CHARSET "UTF-8";

body {
	background-color: #f1f1f1;
}

input {
	padding: 0px;
}

#main {
	width: 1000px;
	margin: 0px auto;
}

#mainInfo {
	width: 100%;
	height: 700px;
	margin-top: 15px;
	background-color: #fff;
	float: left;
}

#top {
	width: 100%;
	height: 48px;
	font-size: 24px;
	font-family: 宋体;
	font-weight: 600;
	text-indent: 20px;
	line-height: 48px;
	border-bottom: 2px solid #5EA500;
	float: left;
}

#tab1 {
	width: 525px;
	margin-top: 30px;
	margin-left: 250px;
	float: left;
}

#tab1 tr {
	height: 64px;
	font-size: 18px;
	font-family: 宋体;
	font-weight: 600;
}

#tab1 a {
	color: #f00;
}

.select {
	width: 322px;
	height: 32px;
	font-size: 18px;
	font-family: 宋体;
	text-indent: 5px;
	border: none;
	border-bottom: 1px solid #999;
	outline: none;
}

.textbox {
	width: 320px;
	height: 30px;
	font-size: 18px;
	font-family: 宋体;
	text-indent: 10px;
	border: none;
	border-bottom: 1px solid #999;
	outline: none;
}

.combtn {
	width: 322px;
	height: 32px;
	color: #fff;
	font-size: 18px;
	font-family: 宋体;
	font-weight: 600;
	background-color: #5EA500;
	border-radius: 1px;
	border: none;
	float: left;
}

.combtn:hover {
	background-color: #7bd700;
	cursor: pointer;
}

input::-webkit-calendar-picker-indicator {
	-webkit-appearance: none;
	display: none;
}

/** ******************************************************************** */
#tips {
	top: 40%;
	left: 45%;
	padding: 10px 20px;
	position: fixed;
	color: #ffffff;
	font-size: 18px;
	font-family: simsun;
	text-align: center;
	line-height: 80px;
	background-color: rgba(60, 60, 60, 0.8);
	border-radius: 6px;
	display: none;
	z-index: 9;
}