<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
  	<title>地图展示</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="icon" type="image/x-icon" href="/survey/favicon.ico"/>
    <link rel="stylesheet" type="text/css" href="/survey/js/cesium/Widgets/widgets.css"/>
    <link rel="stylesheet" type="text/css" href="/survey/css/geominfo/showlist.css"/>
    <script type="text/javascript" src="/survey/js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="/survey/js/cesium/Cesium.js"></script>
    <script type="text/javascript" src="/survey/js/common/proj4.js"></script>
    <script type="text/javascript" src="/survey/js/common/ol.js"></script> 
    <script type="text/javascript" src="/survey/js/geominfo/showlist.js"></script> 
  </head>
  <body>
    <div id="main">
      <input type="text" id="textbox" value=""/>
  	  <input type="button" id="btn1" value="+"/>
      <div id="showdata"></div>
      <a id="shownate">坐标：--，--</a>
    </div>
    
    <!-- 输出项目数据 -->
    <div id="list1" style="display:none;">
  	  <div th:each="project:${projects}">
        <img th:id="${project.id}" src="/survey/img/定位.png"/>
        <span th:data-x="${project.x}" th:data-y="${project.y}" th:text="${project.name}"></span>
        <a th:text="${project.user.name}"></a>
      </div>
  	</div>
  	<div id="list2" style="display:none">
  	  <a th:each="manhole:${manholes}" th:data-id="${manhole.id}" th:data-x="${manhole.gridx}" th:data-y="${manhole.gridy}"></a>
  	</div>
  </body>
</html>