@charset "UTF-8";

body {
	background-color: #f1f1f1;
}

#main {
	width: 1000px;
	margin: 0px auto;
	margin-top: 20px;
	background-color: #fff;
}

#mainTop {
	width: 100%;
	height: 48px;
	font-size: 20px;
	font-family: "宋体";
	font-weight: 700;
	text-indent: 20px;
	line-height: 48px;
	background-color: #fff;
	border-bottom: 2px solid #5EA500;
	float: left;
}

#mainInfo {
	width: 100%;
	background-color: #fff;
	float: left;
}

.table {
	width: 600px;
	font-size: 13px;
	margin: 20px auto;
	border: 2px solid #000;
	font-family: Times New Roman;
	border-collapse: collapse;
	table-layout: fixed;
}

.title {
	width: 225px;
	height: 40px;
	font-size: 14px;
	font-weight: 600;
	font-style: italic;
	text-align: center;
	line-height: 40px;
	border: 2px solid #000;
}

.mcell {
	border: 1px solid #000;
}

.icell {
	border: none;
	text-align: center;
	border-bottom: 1px solid #000;
}

.table img {
	max-width: 470px;
	max-height: 315px;
}

