<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
  	<title>权限不足</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<link rel="icon" type="image/x-icon" href="/survey/favicon.ico"/>
	<link rel="stylesheet" type="text/css" href="/survey/css/userview/authorize.css"/>
	<script type="text/javascript" src="/survey/js/jquery-1.9.1.min.js"></script>
	<script type="text/javascript" src="/survey/js/userview/authorize.js"></script>
	
  </head>
  <body>
    <div id="main">
      <img style="width:200px;height:200px;" src="/survey/img/锁定.png">
      <p>抱歉，您的权限不足，无法访问该页面！</p>
      <div id="link1">返回上一页</div>
      <div id="link2">返回首页</div>
    </div>
  </body>
</html>