@CHARSET "UTF-8";

body {
	background-color: #E8E8E8;
}

#main {
	width: 1000px;
	margin: 15px auto;
}

#mainInfo {
	width: 100%;
	max-height: 720px;
	background-color: #fff;
	float: left;
}

#mainTop {
	width: 100%;
	height: 48px;
	font-size: 24px;
	font-family: 宋体;
	font-weight: 600;
	text-indent: 20px;
	line-height: 48px;
	border-bottom: 2px solid #5EA500;
	float: left;
}

.infoTop {
	width: 785px;
	height: 40px;
	font-size: 18px;
	font-family: 宋体;
	font-weight: 600;
	line-height: 40px;
	margin: 20px 105px 5px 105px;
	border-bottom: 2px solid #51596B;
	float: left;
}

.infoTop div {
	width: 100px;
	height: 100%;
	color: #ffffff;
	text-align: center;
	background-color: #51596B;
	float: left;
}

.infoTop input {
	width: 64px;
	height: 30px;
	color: #ffffff;
	margin: 0px 10px 0px 0px;
	background-color: #3CB44B;
	border: none;
	float: right;
}

.infoTop input:hover {
	background-color: #50c55f;
	cursor: pointer;
}

#table1 {
	margin-top: 15px;
	margin-left: 105px;
	border-bottom: 2px solid #51596B;
	float: left;
}

#table1 tr {
	height: 40px;
	font-size: 18px;
	font-family: 宋体;
	font-weight: 600;
}

#table1 .cell {
	border-bottom: 1px solid #999;
	text-indent: 5px;
}

#table1 textarea {
	width: 664px;
	height: 90px;
	padding: 5px;
	font-size: 18px;
	font-family: 宋体;
	border: 1px solid #999;
	outline: none;
	resize: none;
}

#listTitle {
	width: 785px;
	height: 40px;
	font-size: 16px;
	font-family: 仿宋;
	font-weight: 600;
	margin: 0px 105px 0px 105px;
	background-color: #51596B;
	float: left;
}

#listTitle div {
	height: 100%;
	color: #fff;
	font-size: 18px;
	text-align: center;
	line-height: 40px;
	float: left;
}

#mainlist {
	width: 785px;
	max-height: 240px;
	font-size: 16px;
	font-family: 仿宋;
	font-weight: 600;
	margin: 0px 105px 40px 105px;
	border: 1px solid #ccc;
	float: left;
}

#table2 {
	width: 100%;
	border-collapse: collapse;
	table-layout: fixed;
}

#table2 tr {
	height: 24px;
	font-size: 16px;
	text-align: center;
	background-color: #ffffff;
}

#table2 tr:nth-child(even) {
	background-color: #f0f0f0;
}

#table2 tr:hover {
	background-color: #FFD58D;
}

#table2 tr td {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

#table2 tr td input {
	width: 40px;
	height: 20px;
	color: #ffffff;
	font-family: 等线;
	border: none;
}

#table2 tr td input:hover {
	cursor: pointer;
	color: #F37B1D;
}

#null {
	width: 785px;
	height: 160px;
	color: #666666;
	font-size: 24px;
	font-family: 宋体;
	text-align: center;
	line-height: 120px;
	margin-left: 105px;
	margin-bottom: 40px;
	float: left;
}