@charset "utf-8";

#append {
	width: 64px;
	margin: 15px 3px;
	float: left;
}

#tab1 thead th:hover {
	background-color: #5C657A;
	cursor: pointer;
}

#tab1 tbody tr td a {
	width: 145px;
	height: 16px;
	margin: 4px 0;
	float: left;
}

#tab1 tbody tr td img {
	width: 16px;
	height: 16px;
	margin: 4px;
	cursor: pointer;
	float: right;
}

#menulink {
	margin: 0 8px;
	color: #0000EE;
	font: 16px simsun;
	line-height: 40px;
	text-decoration: underline;
}