@charset "UTF-8";

body {
	background-color: #98DDFE;
}

input {
	padding: 0;
	outline: none;
}

#main {
	width: 900px;
	height: 480px;
	margin: 215px auto;
	background-color: #32435D;
	border-radius: 6px;
}

#title {
	width: 270px;
	height: 180px;
	margin-top: 125px;
	margin-left: 100px;
	float: left;
}

#title img {
	width: 106px;
	height: 50px;
	margin-top: 20px;
	margin-left: 82px;
	float: left;
}

.p1 {
	width: 100%;
	height: 30px;
	color: #ffffff;
	font: 600 18px simsun;
	margin-top: 24px;
	text-align: center;
	line-height: 30px;
	float: left;
}

.p2 {
	width: 100%;
	height: 40px;
	color: #ffffff;
	font: 14px "Times New Roman";
	text-align: center;
	line-height: 20px;
	float: left;
}

#tab1 {
	width: 300px;
	margin-top: 35px;
	margin-left: 120px;
	float: left;
}

#tab1 tr {
	height: 56px;
}

#tab1 tr td span {
	color: #fff;
	font: 600 24px simsun;
}

#tips {
	color: #f00;
	font: 18px simsun;
}

.textbox {
	width: 280px;
	height: 30px;
	border: none;
	color: #ffffff;
	font: 18px simsun;
	text-indent: 5px;
	background-color: #32435D;
	border-bottom: 2px solid #00D3F8;
}

.code {
	width: 135px;
	height: 32px;
	border: none;
	color: #ffffff;
	font: 18px simsun;
	text-indent: 5px;
	background-color: #32435D;
	border-bottom: 2px solid #00D3F8;
	float: left;
}

.btn1 {
	width: 135px;
	height: 36px;
	color: #ffffff;
	font: 14px simsun;
	margin-left: 10px;
	background-color: #32435D;
	border: 2px solid #00D3F8;
	border-radius: 5px;
	cursor: pointer;
}

.near:hover {
	color: #00D3F8;
	background-color: #999;
}

.commit {
	width: 280px;
	height: 30px;
	color: #ffffff;
	font: 18px simsun;
	background-color: #00bcdd;
	border-radius: 30px;
	cursor: pointer;
	border: none;
}

.commit:hover {
	background-color: #00cef2;
}

/* 删除输入框小三角 */
input::-webkit-calendar-picker-indicator {
	-webkit-appearance: none;
	display: none;
}