@CHARSET "UTF-8";

#naviMain {
	width: 100%;
	height: 80px;
	background-color: #3A3F4A;
}

#navi {
	width: 1200px;
	height: 80px;
	margin: 0 auto;
}

#navilogo {
	width: 106px;
	height: 50px;
	margin: 15px 634px 15px 10px;
	cursor: pointer;
	float: left;
}

.naviItem {
	width: 108px;
	height: 100%;
	font: 18px simsun;
	line-height: 80px;
	float: left;
}

.naviItem img {
	width: 24px;
	height: 24px;
	margin: 28px 0;
	float: left;
}

.naviItem a {
	width: 80px;
	height: 100%;
	color: #BABABA;
	text-indent: 6px;
	text-overflow: ellipsis;
	text-decoration: none;
	overflow: hidden;
	cursor: pointer;
	float: left;
}

.naviItem a:hover {
	color: #0082DF;
}