@CHARSET "UTF-8";

#naviMain {
	width: 100%;
	height: 80px;
	background-color: #3A3F4A;
}

#navi {
	width: 1200px;
	height: 80px;
	margin: 0 auto;
}

#navilogo {
	width: 106px;
	height: 50px;
	margin: 15px 10px;
	cursor: pointer;
}

.naviItem {
	width: 108px;
	height: 100%;
	font-size: 18px;
	font-family: 宋体;
	text-align: center;
	line-height: 80px;
	float: left;
}

.naviItem img {
	width: 24px;
	height: 24px;
	margin-top: 28px;
	float: left;
}

.naviItem a {
	color: #BABABA;
	margin-left: 6px;
	text-decoration: none;
	cursor: pointer;
	float: left;
}

.naviItem a:hover {
	color: #0082DF;
}
