body {
	background-color: #F1F1F1;
}

#main {
	width: 1210px;
	min-height: 720px;
	margin: 10px auto;
}

#mainMenu {
	width: 200px;
	color: #ffffff;
	font: 18px simsun;
	text-align: center;
	background-color: #3A3F4A;
	float: left;
}

#mainInfo {
	width: 1000px;
	height: 100%;
	margin-left: 10px;
	background-color: #FFFFFF;
	float: left;
}

#menuTitle {
	width: 92%;
	height: 48px;
	margin: 10px 4%;
	color: #00953E;
	font: 700 24px simsun;
	line-height: 40px;
	border-bottom: 2px solid #00953E;
	float: left;
}

.menu1 {
	width: 196px;
	height: 45px;
	line-height: 45px;
	background-color: #00953E ;
	border-left: 4px solid #ff8800;
	float: left;
}

.menu2 {
	width: 200px;
	height: 45px;
	line-height: 45px;
	background-color: #3A3F4A;
	float: left;
}

.menu2:hover {
	background-color: #515868;
}

#mainMenu div a {
	color: #ffffff;
	text-decoration: none;
}

#mainMenu div a:visited {
	color: #ffffff;
}

#infoTop {
	width: 980px;
	height: 48px;
	margin: 0 10px;
	font: 700 24px simsun;
	line-height: 50px;
	border-bottom: 2px solid #393D49;
	float: left;
}

#infoMenu {
	height: 40px;
	margin: 10px;
	line-height: 40px;
	float: left;
}

#infoMenu span {
	height: 40px;
	font: 600 20px simsun;
	line-height: 40px;
	text-indent: 10px;
	float: left;
}

#menuBtn1 {
	width: 40px;
	height: 30px;
	margin: 5px 0;
	font: 20px simsun;
	background-color: #ffffff;
	border-radius: 30px 0 0 30px;
	border: 1px solid #3A3F4A;
	cursor: pointer;
	float: left;
}

#menuBtn2 {
	width: 75px;
	height: 30px;
	margin: 5px 0;
	color: #ffffff;
	font: 16px 仿宋;
	background-color: #3A3F4A;
	border-radius: 0 30px 30px 0;
	cursor: pointer;
	border: none;
	float: left;
}

#menuBtn2:hover {
	background-color: #515868;
}

#menuText {
	width: 180px;
	height: 28px;
	margin: 5px 0;
	font: 16px 仿宋;
	text-indent: 8px;
	border: 1px solid #3A3F4A;
	border-right: none;
	border-left: none;
	float: left;
}


#tab1 {
	width: 980px;
	margin: 0 10px;
	float: left;
}

#tab1 thead tr th {
	padding: 0;
	color: #ffffff;
	font: 600 18px simsun;
	text-align: center;
}

#tab1 tbody tr {
	height: 32px;
}

#tab1 tbody tr td {
	padding: 3px 0;
	font: 14px Times New Roman, simsun;
	text-align: center;
}

#tab1 tbody tr td a {
	color: #0000EE;
	text-decoration: none;
}

#tab1 tbody tr td a:hover {
	text-decoration: underline;
}

#tab1 tbody tr td a:visited {
	color: #551A8B;
}

#tab1 tbody tr td span {
	color: #ff0000;
}

#tab1 input {
	width: 40px;
	height: 20px;
	margin: 2px;
	padding: 0;
	line-height: 20px;
	float: left;
}

#pageMain {
	width: 980px;
	margin: 10px;
	text-align: center;
	border-top: 1px solid #dadada;
	float: left;
}
