@CHARSET "UTF-8";

body {
	background-color: #E8E8E8;
}

#main {
	width: 1210px;
	min-height: 720px;
	margin: 10px auto;
}

#mainMenu {
	width: 200px;
	color: #ffffff;
	font-size: 18px;
	font-family: 宋体;
	text-align: center;
	background-color: #434A52;
	float: left;
}

#mainInfo {
	width: 1000px;
	min-height: 720px;
	margin-left: 10px;
	background-color: #fff;
	float: left;
}

#menuTitle {
	width: 180px;
	height: 60px;
	color: #009343;
	font-size: 25px;
	font-weight: 600;
	line-height: 60px;
	margin: 0px 10px 10px 10px;
	border-bottom: 2px solid #00953E;
	float: left;
}

.menu1 {
	width: 196px;
	height: 45px;
	line-height: 45px;
	background-color: #00953E;
	border-left: 4px solid #fff;
	float: left;
}

.menu2 {
	width: 200px;
	height: 45px;
	line-height: 45px;
	float: left;
}

.menu2:hover {
	background-color: #515868;
}

#mainMenu a {
	text-decoration: none;
	color: #fff;
}

#mainMenu a:visited {
	color: #fff;
}

#infoTop {
	width: 980px;
	height: 50px;
	margin: 0px 10px;
	font-size: 24px;
	line-height: 50px;
	font-family: 宋体;
	font-weight: 600;
	border-bottom: 2px solid #3A3F4A;
	float: left;
}

#infoMenu {
	width: 980px;
	height: 40px;
	margin: 10px 10px;
	line-height: 40px;
	float: left;
}

#infoMenu span {
	font-size: 20px;
	font-family: 宋体;
	font-weight: 600;
	margin-left: 5px;
	float: left;
}

#menuBtn1 {
	width: 40px;
	height: 30px;
	margin-top: 5px;
	font-size: 20px;
	font-family: 宋体;
	line-height: 28px;
	background-color: #ffffff;
	border-radius: 30px 0px 0px 30px;
	border: 1px solid #3A3F4A;
	cursor: pointer;
	outline: none;
	float: left;
}

#menuBtn2 {
	width: 75px;
	height: 30px;
	margin-top: 5px;
	color: #ffffff;
	font-size: 12px;
	background-color: #3A3F4A;
	border-radius: 0px 30px 30px 0px;
	outline: none;
	border: none;
	float: left;
}

#menuBtn2:hover {
	background-color: #515868;
	cursor: pointer;
}

#menuText {
	width: 180px;
	height: 26px;
	margin-top: 5px;
	font-size: 14px;
	text-indent: 8px;
	border: 1px solid #3A3F4A;
	border-right: none;
	border-left: none;
	outline: none;
	float: left;
}

#tab1 {
	width: 980px;
	margin: 0px 10px;
	text-align: center;
	float: left;
}

#tab1 thead tr {
	color:#fff;
	font-size: 18px;
	font-family: 宋体;
}

#tab1 tbody tr {
	height: 30px;
	font-size: 15px;
	font-family: Times New Roman;
	background-color: #FAFAFA;
}

#tab1 tbody tr:nth-child(even) {
	background-color: #EEEEEE;
}

#tab1 tbody tr td a {
	text-decoration: none;
}

#tab1 tbody tr td a:hover {
	text-decoration: underline;
}

#tab1 tbody tr td input {
	width: 40px;
	height: 20px;
	color: #ffffff; 
	font-family: 等线;
	border: none;
}

#tab1 tbody tr td input:hover {
	cursor: pointer;
	color: #F37B1D;
}

#tab2 {
	width: 980px;
	font-size: 18px;
	font-family: 宋体;
	margin: 15px 10px 0px 10px;
	border-top: 1px solid #ccc;
	float: left;
}


.pagebtn {
	width: 75px;
	height: 28px;
	font-size: 15px;
	font-family: 宋体;
	background-color: #fff;
	border: 1px solid #999;
}

.pagebtn:hover {
	cursor: pointer;
	color: #51596B;
}
/** ******************************************************************** */
#tips {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	line-height: 800px;
	background-color: rgba(255, 255, 255, 0);
	position: fixed;
	display: none;
	z-index: 9;
}

#tips span {
	color: #ffffff;
	font-size: 18px;
	font-family: 宋体;
	font-weight: 500;
	text-align: center;
	padding: 30px 20px;
	background-color: rgba(60, 60, 60, 0.8);
	border-radius: 6px;
}