<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
  	<title>上传图片</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<link rel="stylesheet" type="text/css" href="/survey/css/iteminfo/findinfo.css"/>
  </head>
  <body>
    <div id="main">
      <div id="mainTop">沙井图片</div>
      <div id="mainInfo">
        <table class="table" th:each="item:${items}">
          <tr height="80px" align="center">
            <td colspan="3"><img src="/survey/img/title.png"></td>
            <td colspan="2"><div class="title">Manhole Survey Photographs</div></td>
          </tr>
          <tr height="25px">
            <td width="120px">Project No.:</td>
            <td width="120px" class="icell" th:text="${manhole.projectno}"></td>
            <td width="120px"></td>
            <td width="120px">Manhole Reference: </td>
            <td width="120px" class="icell" th:text="${manhole.node}"></td>
          </tr>
          <tr height="25px">
            <td>WO No.: </td>
            <td class="icell" th:text="${manhole.workorder}"></td>
            <td colspan="3"></td>
          </tr>
          <tr height="5px"><td colspan="5"></td></tr>
          <!-- 输出图片 -->
          <tr>
            <td rowspan="8" colspan="4" align="center" class="mcell">
              <img th:if="${!#strings.isEmpty(item.path1)}" th:src="${path + item.path1 + '.png'}"/>
            </td>
            <td height="25px" class="mcell">Photograph No. :</td>
          </tr>
          <tr><td height="50px" class="mcell" align="center" th:text="${manhole.photono1}"></td></tr>
          <tr><td height="25px" class="mcell">Location:</td></tr>
          <tr><td height="50px" class="mcell" align="center" th:text="${manhole.location}"></td></tr>
          <tr><td height="25px" class="mcell">Description:</td></tr>
          <tr><td height="50px" class="mcell" align="center">Manhole Location</td></tr>
          <tr><td height="25px" class="mcell">Remark:</td></tr>
          <tr><td height="50px" class="mcell" th:text="${item.remark2}"></td></tr>
          <tr height="32px"><td colspan="5" class="mcell"></td></tr>
          <tr>
            <td rowspan="8" colspan="4" class="mcell" align="center">
              <img th:if="${!#strings.isEmpty(item.path2)}" th:src="${path + item.path2 + '.png'}"/>
            </td>
            <td height="25px" class="mcell">Photograph No. :</td>
          </tr>
          <tr><td height="50px" class="mcell" align="center" th:text="${manhole.photono2}"></td></tr>
          <tr><td height="25px" class="mcell">Location:</td></tr>
          <tr><td height="50px" class="mcell" align="center" th:text="${manhole.location}"></td></tr>
          <tr><td height="25px" class="mcell">Description:</td></tr>
          <tr><td height="50px" class="mcell" align="center">Manhole Internal Photo</td></tr>
          <tr><td height="25px" class="mcell">Remark:</td></tr>
          <tr><td height="50px" class="mcell" th:text="${item.remark2}"></td></tr>
        </table>
      </div>
    </div>
    <div style="width:100%;margin-top:20px;float:left;color:#ccc;text-align: center;font-size:14px;">
      <p>香港麦斯迪埃高科技有限责任公司</p>
      <p>Copyright © 2017 All Rights Reserved</p>	
    </div>
  </body>
</html>