<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.springboot.dao.ItemDao">

	<insert id="insertItem" parameterType="Item" useGeneratedKeys="true" keyProperty="id">
		insert into item values(null, #{no}, #{path1}, #{path2}, #{photo1}, #{photo2}, #{location1}, #{location2}, #{explain1}, #{explain2}, #{remark1}, #{remark2}, #{manhole.id})
	</insert>

	<update id="updateItem" parameterType="Item">
		update item set no = #{no},
			path1 = #{path1},
			path2 = #{path2},
			photo1 = #{photo1},
			photo2 = #{photo2},
			location1 = #{location1},
			location2 = #{location2},
			explain1 = #{explain1},
			explain2 = #{explain2},
			remark1 = #{remark1},
			remark2 = #{remark2},
			manholeid = #{manhole.id}
		where id = #{id}
	</update>

	<delete id="deleteItem" parameterType="Item">
		delete from item where id = #{id}
	</delete>

	<select id="findInfoItem" parameterType="Map" resultType="Item">
		select i.* from item i 
			left join manhole m on m.id = i.manholeid 
			left join project p on p.id = m.projectid
			left join users u on u.id = p.userid
		<where>
			<if test="id != null">
				and i.id = #{id}
			</if>
			<if test="user != null">
				and u.id = #{user.id}
			</if>
		</where>
	</select>
	
	<select id="findListItem" parameterType="Map" resultType="Item">
		select * from item where manholeid = #{manhole.id} order by no
	</select>
	
</mapper>
 