<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.springboot.dao.ManholeDao">

	<insert id="insertManhole" parameterType="Manhole" useGeneratedKeys="true" keyProperty="id">
		insert into manhole values(null, 
			#{node},
			#{gridx},
			#{gridy},
			#{areacode},
			#{surveyname},
			#{surveydate},
			#{projectno},
			#{workorder},
			#{manholeid},
			#{drainage},
			#{location},
			#{yearlaid},
			#{status},
			#{method},
			#{nodetype},
			#{shape},
			#{hinge},
			#{locker},
			#{duties},
			#{cover1},
			#{cover2},
			#{side},
			#{course},
			#{depths},
			#{shaft1},
			#{shaft2},
			#{soffit},
			#{steps},
			#{ladder},
			#{lndgs},
			#{csize1},
			#{csize2},
			#{toxic},
			#{evidences},
			#{construct},
			#{depthflow},
			#{depthsilt},
			#{height},
			#{mdepth},
			#{mcover},
			#{cond},
			#{crit},
			#{cover},
			#{iron},
			#{shaft},
			#{chambers},
			#{benching},
			#{other},
			#{photo1},
			#{photo2},
			#{photo3},
			#{photo4},
			#{photo5},
			#{photo6},
			#{util1},
			#{util2},
			#{util3},
			#{util4},
			#{util5},
			#{util6},
			#{photono1},
			#{photono2},
			#{slopeno},
			#{remarks},
			#{dplan},
			#{rplan},
			#{ctype},
			#{rtype},
			#{path1},
			#{path2},
			#{with1},
			#{with2},
			#{with3},
			#{project.id}
		)
	</insert>

	<update id="updateManhole" parameterType="Manhole">
		update manhole set node = #{node},
			gridx = #{gridx},
			gridy = #{gridy},
			areacode = #{areacode},
			surveyname = #{surveyname},
			surveydate = #{surveydate},
			projectno = #{projectno},
			workorder = #{workorder},
			manholeid = #{manholeid},
			drainage = #{drainage},
			location = #{location},
			yearlaid = #{yearlaid},
			status = #{status},
			method = #{method},
			nodetype = #{nodetype},
			shape = #{shape},
			hinge = #{hinge},
			locker = #{locker},
			duties = #{duties},
			cover1 = #{cover1},
			cover2 = #{cover2},
			side = #{side},
			course = #{course},
			depths = #{depths},
			shaft1 = #{shaft1},
			shaft2 = #{shaft2},
			soffit = #{soffit},
			steps = #{steps},
			ladder = #{ladder},
			lndgs = #{lndgs},
			csize1 = #{csize1},
			csize2 = #{csize2},
			toxic = #{toxic},
			evidences = #{evidences},
			construct = #{construct},
			depthflow = #{depthflow},
			depthsilt = #{depthsilt},
			height = #{height},
			mdepth = #{mdepth},
			mcover = #{mcover},
			cond = #{cond},
			crit = #{crit},
			cover = #{cover},
			iron = #{iron},
			shaft = #{shaft},
			chambers = #{chambers},
			benching = #{benching},
			other = #{other},
			photo1 = #{photo1},
			photo2 = #{photo2},
			photo3 = #{photo3},
			photo4 = #{photo4},
			photo5 = #{photo5},
			photo6 = #{photo6},
			util1 = #{util1},
			util2 = #{util2},
			util3 = #{util3},
			util4 = #{util4},
			util5 = #{util5},
			util6 = #{util6},
			photono1 = #{photono1},
			photono2 = #{photono2},
			slopeno = #{slopeno},
			remarks = #{remarks},
			dplan = #{dplan},
			rplan = #{rplan},
			ctype = #{ctype},
			rtype = #{rtype},
			path1 = #{path1},
			path2 = #{path2},
			with1 = #{with1},
			with2 = #{with2},
			with3 = #{with3},
			projectid = #{project.id}
		where id = #{id}
	</update>

	<delete id="deleteManhole" parameterType="Manhole">
		delete from manhole where id = #{id}
	</delete>

	<select id="findInfoManhole" parameterType="Map" resultMap="ManholeMap">
		select m.*, p.name p_name, u.id u_id from manhole m left join project p on p.id = m.projectid left join users u on u.id = p.userid
		<where>
			<if test="id != null">
				and m.id = #{id}
			</if>
			<if test="user != null">
				and u.id = #{user.id}
			</if>
			<if test="company != null">
				and u.companyid = #{company.id}
			</if>
		</where>
	</select>
	
	<select id="findListManhole" parameterType="Map" resultMap="ManholeMap">
		select m.*, p.name p_name, u.id u_id from manhole m left join project p on p.id = m.projectid left join users u on u.id = p.userid
		<where>
			<if test="xy != null">
				m.gridx !='' and m.gridy != ''
			</if>
			<if test="name != null">
				and p.name like #{name}
			</if>
			<if test="user != null">
				and u.id = #{user.id}
			</if>
			<if test="project != null">
				and m.projectid = #{project.id}
			</if>
			<if test="company != null">
				and u.companyid = #{company.id}
			</if>
		</where>
		order by id desc
	</select>
	
	<resultMap id="ManholeMap" type="Manhole">
		<id property="id" column="id"/>
		<result property="node" column="node"/>
		<result property="gridx" column="gridx"/>
		<result property="gridy" column="gridy"/>
		<result property="areacode" column="areacode"/>
		<result property="surveyname" column="surveyname"/>
		<result property="surveydate" column="surveydate"/>
		<result property="projectno" column="projectno"/>
		<result property="workorder" column="workorder"/>
		<result property="manholeid" column="manholeid"/>
		<result property="drainage" column="drainage"/>
		<result property="location" column="location"/>
		<result property="yearlaid" column="yearlaid"/>
		<result property="status" column="status"/>
		<result property="method" column="method"/>
		<result property="nodetype" column="nodetype"/>
		<result property="shape" column="shape"/>
		<result property="hinge" column="hinge"/>
		<result property="locker" column="locker"/>
		<result property="duties" column="duties"/>
		<result property="cover1" column="cover1"/>
		<result property="cover2" column="cover2"/>
		<result property="side" column="side"/>
		<result property="course" column="course"/>
		<result property="depths" column="depths"/>
		<result property="shaft1" column="shaft1"/>
		<result property="shaft2" column="shaft2"/>
		<result property="soffit" column="soffit"/>
		<result property="steps" column="steps"/>
		<result property="ladder" column="ladder"/>
		<result property="lndgs" column="lndgs"/>
		<result property="csize1" column="csize1"/>
		<result property="csize2" column="csize2"/>
		<result property="toxic" column="toxic"/>
		<result property="evidences" column="evidences"/>
		<result property="construct" column="construct"/>
		<result property="depthflow" column="depthflow"/>
		<result property="depthsilt" column="depthsilt"/>
		<result property="height" column="height"/>
		<result property="mdepth" column="mdepth"/>
		<result property="mcover" column="mcover"/>
		<result property="cond" column="cond"/>
		<result property="crit" column="crit"/>
		<result property="cover" column="cover"/>
		<result property="iron" column="iron"/>
		<result property="shaft" column="shaft"/>
		<result property="chambers" column="chambers"/>
		<result property="benching" column="benching"/>
		<result property="other" column="other"/>
		<result property="photo1" column="photo1"/>
		<result property="photo2" column="photo2"/>
		<result property="photo3" column="photo3"/>
		<result property="photo4" column="photo4"/>
		<result property="photo5" column="photo5"/>
		<result property="photo6" column="photo6"/>
		<result property="util1" column="util1"/>
		<result property="util2" column="util2"/>
		<result property="util3" column="util3"/>
		<result property="util4" column="util4"/>
		<result property="util5" column="util5"/>
		<result property="util6" column="util6"/>
		<result property="photono1" column="photono1"/>
		<result property="photono2" column="photono2"/>
		<result property="slopeno" column="slopeno"/>
		<result property="remarks" column="remarks"/>
		<result property="dplan" column="dplan"/>
		<result property="rplan" column="rplan"/>
		<result property="ctype" column="ctype"/>
		<result property="rtype" column="rtype"/>
		<result property="path1" column="path1"/>
		<result property="path2" column="path2"/>
		<result property="with1" column="with1"/>
		<result property="with2" column="with2"/>
		<result property="with3" column="with3"/>
		<association property="project" javaType="Project">
 			<id property="id" column="projectid"/>
 			<result property="name" column="p_name"/>
 			<result property="user.id" column="u_id"/>
	 	</association>
	</resultMap>
	
</mapper>
 