<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.springboot.dao.MarkPipeDao">
	<insert id="insertMarkPipe" parameterType="MarkPipe" keyProperty="id" useGeneratedKeys="true">
		insert into markpipe values(null, #{score}, #{remark}, #{manhole.id}, #{markItem.id})
	</insert>
	
	<update id="updateMarkPipe" parameterType="MarkPipe">
		update markpipe set score = #{score}, remark = #{remark} where id = #{id}
	</update>
	
	<delete id="deleteMarkPipe" parameterType="MarkPipe">
		delete from markpipe where id = #{id}
	</delete>
	
	<select id="findInfoMarkPipe" parameterType="Map" resultMap="MarkPipeMap">
		select a.*, b.* from markpipe a left join manhole b on b.id = a.manholeid left join markitem c on c.id = a.markid
		<where>
			<if test="id != null">
				and a.id = #{id}
			</if>
			<if test="manhole != null">
				and b.id = #{manhole.id}
			</if>
			<if test="user != null">
				and c.userid = #{user.id}
			</if>
		</where>
	</select>
	
	<select id="findListMarkPipe" parameterType="Map" resultMap="MarkPipeMap">
		select a.*, b.* from markpipe a left join manhole b on b.id = a.manholeid left join markitem c on c.id = a.markid
		<where>
			<if test="markItem != null">
				and c.id = #{markItem.id}
			</if>
			<if test="user != null">
				and c.userid = #{user.id}
			</if>
		</where>
		order by a.id
	</select>
	
	<resultMap id="MarkPipeMap" type="MarkPipe">
		<id property="id" column="id"/>
		<result property="score" column="score"/>
		<result property="remark" column="remark"/>
		<association property="manhole" javaType="Manhole">
			<id property="id" column="manholeid"/>
			<result property="node" column="node"/>
			<result property="gridx" column="gridx"/>
			<result property="gridy" column="gridy"/>
			<result property="areacode" column="areacode"/>
			<result property="surveyname" column="surveyname"/>
			<result property="surveydate" column="surveydate"/>
			<result property="projectno" column="projectno"/>
			<result property="workorder" column="workorder"/>
			<result property="manholeid" column="manholeid"/>
			<result property="drainage" column="drainage"/>
			<result property="location" column="location"/>
			<result property="yearlaid" column="yearlaid"/>
			<result property="status" column="status"/>
			<result property="method" column="method"/>
			<result property="nodetype" column="nodetype"/>
			<result property="shape" column="shape"/>
			<result property="hinge" column="hinge"/>
			<result property="locker" column="locker"/>
			<result property="duties" column="duties"/>
			<result property="cover1" column="cover1"/>
			<result property="cover2" column="cover2"/>
			<result property="side" column="side"/>
			<result property="course" column="course"/>
			<result property="depths" column="depths"/>
			<result property="shaft1" column="shaft1"/>
			<result property="shaft2" column="shaft2"/>
			<result property="soffit" column="soffit"/>
			<result property="steps" column="steps"/>
			<result property="ladder" column="ladder"/>
			<result property="lndgs" column="nlndgsame"/>
			<result property="csize1" column="csize1"/>
			<result property="csize2" column="csize2"/>
			<result property="toxic" column="toxic"/>
			<result property="evidences" column="evidences"/>
			<result property="construct" column="construct"/>
			<result property="depthflow" column="depthflow"/>
			<result property="depthsilt" column="depthsilt"/>
			<result property="height" column="height"/>
			<result property="mdepth" column="mdepth"/>
			<result property="mcover" column="mcover"/>
			<result property="cond" column="cond"/>
			<result property="crit" column="crit"/>
			<result property="cover" column="cover"/>
			<result property="iron" column="iron"/>
			<result property="shaft" column="shaft"/>
			<result property="chambers" column="chambers"/>
			<result property="benching" column="benching"/>
			<result property="other" column="other"/>
			<result property="photo1" column="photo1"/>
			<result property="photo2" column="photo2"/>
			<result property="photo3" column="photo3"/>
			<result property="photo4" column="photo4"/>
			<result property="photo5" column="photo5"/>
			<result property="photo6" column="photo6"/>
			<result property="util1" column="util1"/>
			<result property="util2" column="util2"/>
			<result property="util3" column="util3"/>
			<result property="util4" column="util4"/>
			<result property="util5" column="util5"/>
			<result property="util6" column="util6"/>
			<result property="photono1" column="photono1"/>
			<result property="photono2" column="photono2"/>
			<result property="slopeno" column="slopeno"/>
			<result property="remarks" column="remarks"/>
			<result property="dplan" column="dplan"/>
			<result property="rplan" column="rplan"/>
			<result property="ctype" column="ctype"/>
			<result property="rtype" column="rtype"/>
			<result property="path1" column="path1"/>
			<result property="path2" column="path2"/>
			<result property="with1" column="with1"/>
			<result property="with2" column="with2"/>
			<result property="with3" column="with3"/>
		</association>
		<association property="markItem" javaType="MarkItem">
			<id property="id" column="markid"/>
		</association>
	</resultMap>
</mapper>
 