<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.springboot.dao.ProjectDao">

	<insert id="insertProject" parameterType="Project" useGeneratedKeys="true" keyProperty="id">
		insert into project values(null, #{name}, #{operator}, #{datetime1}, #{datetime2}, #{content}, #{state}, #{date}, #{user.id});		
	</insert>

	<update id="updateProject" parameterType="Project">
		update project set name = #{name},
			operator = #{operator},
			datetime1 = #{datetime1},
			datetime2 = #{datetime2},
			content = #{content},
			state = #{state}
		where id = #{id}
	</update>

	<delete id="deleteProject" parameterType="Project">
		delete from project where id = #{id}
	</delete>

	<select id="findInfoProject" parameterType="Map" resultMap="ProjectMap">
		select p.*, u.name u_name from project p left join users u on u.id = p.userid
		<where>
			<if test="id != null">
				and p.id = #{id}
			</if>
			<if test="user != null">
				and u.id = #{user.id}
			</if>
			<if test="company != null">
				and u.companyid = #{company.id}
			</if>
		</where>
	</select>
	
	<select id="findListProject" parameterType="Map" resultMap="ProjectMap">
		select p.*, u.name u_name from project p left join users u on u.id = p.userid
		<where>
			<if test="name != null">
				and p.name like #{name}
			</if>
			<if test="state != null">
				and p.state = #{state}
			</if>
			<if test="user != null">
				and u.id = #{user.id}
			</if>
			<if test="company != null">
				and u.companyid = #{company.id}
			</if>
		</where>
		order by p.id desc
	</select>
	
	<resultMap id="ProjectMap" type="Project">
		<id property="id" column="id"/>
		<result property="name" column="name"/>
		<result property="operator" column="operator"/>
		<result property="datetime1" column="datetime1"/>
		<result property="datetime2" column="datetime2"/>
		<result property="content" column="content"/>
		<result property="state" column="state"/>
		<result property="date" column="date"/>
		<association property="user" javaType="User">
 			<id property="id" column="userid"/>
 			<result property="name" column="u_name"/>
	 	</association>
	</resultMap>
	
</mapper>
 