<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
  <head>
	<title>沙井管理</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<link rel="icon" type="image/x-icon" href="/survey/favicon.ico"/>
	<link rel="stylesheet" type="text/css" href="/survey/css/common/itemlist.css"/>
	<link rel="stylesheet" type="text/css" href="/survey/css/manhole/findlist.css"/>
	<script type="text/javascript" src="/survey/js/jquery-1.9.1.min.js"></script>
	<script type="text/javascript" src="/survey/js/manhole/findlist.js"></script>
  </head>
  <body>
    <div th:replace="navigation::navigation"></div>
    <div id="main">
      <div id="mainMenu">
        <div id="menuTitle" th:text="#{menu.title.text}"></div>
        <div class="menu2"><a href="/survey/manhole/showlist" th:text="#{menu.div.text1}"></a></div>
        <div class="menu1"><a href="/survey/manhole/findlist" th:text="#{menu.div.text2}"></a></div>
        <div class="menu2"><a href="/survey/markinfo/markview" th:text="#{menu.div.text3}"></a></div>
        <div class="menu2"><a href="/survey/markinfo/showlist" th:text="#{menu.div.text4}"></a></div>
        <div class="menu2"><a href="/survey/markinfo/findlist" th:text="#{menu.div.text5}"></a></div>
        <div class="menu2"><a href="/survey/operator/showlist" th:text="#{menu.div.text6}"></a></div>
        <div class="menu2"><a href="/survey/userinfo/center" th:text="#{menu.div.text7}"></a></div>
      </div>
      
      <div id="mainInfo">
        <div id="infoTop" th:text="#{manhole.findlist.title}"></div>
        <div id="infoMenu">
          <span th:text="#{manhole.findlist.menu1}"></span>
          <input id="menuBtn1" type="button" value="←"/>
          <input id="menuText" th:value="${param.name}"/>
          <input id="menuBtn2" type="button" th:value="#{manhole.findlist.menu2}"/>
          <div style="height:100%;float:left;"></div>
          <input type="button" id="showmap" th:value="#{manhole.findlist.button}"/>
        </div>
        <table id="tab1">
          <thead>
            <tr height="40px" style="background-color:#51596b;">
              <th width="4%">NO</th>           
			  <th width="14%" th:text="#{manhole.findlist.table.title1}"></th>
			  <th width="14%" th:text="#{manhole.findlist.table.title2}"></th>
			  <th width="18%" th:text="#{manhole.findlist.table.title3}"></th>
			  <th width="12%" th:text="#{manhole.findlist.table.title4}"></th>
			  <th width="12%" th:text="#{manhole.findlist.table.title5}"></th>   
			  <th width="12%" th:text="#{manhole.findlist.table.title6}"></th> 
			  <th width="14%" th:text="#{manhole.findlist.table.title7}"></th>
			</tr>       
          </thead>
          <tbody>
            <tr th:each="manhole,status:${manholes}" th:id="${manhole.id}">
              <td th:text="${status.count+(page-1)*15}"></td>
              <td><a th:href="@{findinfo(id=${manhole.id})}" th:text="${manhole.projectno}"></a></td>
          	  <td th:text="${manhole.workorder}"></td>
          	  <td th:text="${manhole.areacode}"></td>
          	  <td th:text="${manhole.node}"></td>
          	  <td th:text="${manhole.user.name}"></td>
          	  <td th:text="${manhole.surveydate}"></td>
		      <td>
		        <input type="button" th:value="#{manhole.findlist.table.button1}" style="background-color:#3CB44B;">
		        <input type="button" th:value="#{manhole.findlist.table.button2}" style="background-color:#2CACF1;">
		        <input type="button" th:value="#{manhole.findlist.table.button3}" style="background-color:#F34D4D;">
		      </td>
          	</tr>
          </tbody>
        </table>
        <img th:if="${#lists.isEmpty(manholes)}" src="/survey/img/null.png" style="margin:145px 400px;float:left;">
        <table id="tab2" th:if="${!#lists.isEmpty(manholes)}">
          <tr height="65px">
            <td width="45%" align="right"><input type="button" th:value="#{showlit.page.button1}" class="pagebtn"/></td>
            <td width="10%" align="center"><a id="page1" th:text="${page}"></a> / <a id="page2" th:text="${cont}"></a></td>
            <td width="45%" align="left"><input type="button" th:value="#{showlit.page.button2}" class="pagebtn"/></td>
          </tr>
        </table>
      </div>
    </div>
    <!-- main结束 -->
    <div id="tips"><span></span></div>
    <div style="width:100%;margin-top:20px;float:left;color:#ccc;text-align: center;font-size:14px;">
      <p>香港麦斯迪埃高科技有限责任公司</p>
      <p>Copyright © 2017 All Rights Reserved</p>	
    </div>
  </body>
</html>