<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>沙井调查</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" href="/survey/css/manhole/insert.css"/>
    <script type="text/javascript" src="/survey/js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="/survey/js/laydate/laydate.js"></script>
    <script type="text/javascript" src="/survey/js/manhole/insert.js"></script>
  </head>
  <body>
    <div id="main">
      <img id="logo" src="/survey/img/mlogo.png">
      <div id="idms">IDMS Manhole Record Card</div>
      <form id="form1" action="insert" method="post">
      <!-- 表格1开始 -->
      <table id="table1" class="table">
        <tr>
          <td class="ncell" colspan="9"></td>
          <td class="ncell" colspan="3"></td>
          <td class="ncell">(1) Node ref.</td>
          <td class="ycell" colspan="2"><input type="text" name="node"/></td>
        </tr>           
       <tr>                 
          <td class="ycell">(6) Project no.</td>
          <td class="ycell" colspan="3"><input type="text" name="projectno"/></td>
          <td class="ycell">(8) IDMS Manhole ID.</td>
          <td class="ycell" colspan="4"><input type="text" name="manholeid"/></td>
          <td class="ncell" colspan="3"></td>
          <td class="ncell">(2) Grid ref.</td>
          <td class="ycell" colspan="2">
            <div>X：</div><input type="text" name="gridx" style="width:85%;height:14px;float:left;"/>
            <div>Y：</div><input type="text" name="gridy" style="width:85%;height:14px;float:left;"/>
          </td>
        </tr>               
        <tr>                
          <td class="ycell">(7) WO no.</td>
          <td class="ycell" colspan="3"><input type="text" name="workorder"/></td>
          <td class="ycell">(9) DSD ref.</td>
          <td class="ycell" colspan="4"><input type="text" name="drainage"/></td>
          <td class="ncell" colspan="3"></td>
          <td class="ncell">(3) Drainage area code</td>
          <td class="ycell" colspan="2"><input type="text" name="areacode"/></td>
        </tr>               
        <tr>                
          <td class="ycell">(10) Location</td>
          <td class="ycell" colspan="8"><input type="text" name="location"/></td>
          <td class="ncell" colspan="3"></td>
          <td class="ncell">(4) Survey by</td>
          <td class="ycell" colspan="2"><input type="text" name="surveyname"/></td>
        </tr>
        <tr>
          <td class="ncell"></td>
          <td class="ncell">(11) Year laid<br>YYYY</td>
          <td class="ycell"><input type="text" name="yearlaid" value="Unknown"/></td>
          <td class="ncell">(12) Status*</td>
          <td class="ycell"><input type="text" name="status" value="PU" list="list1"/></td>
          <td class="ncell">(13)Function*</td>
          <td class="ycell"><input type="text" name="method" value="F" list="list2"/></td>
          <td class="ncell">(14) Node type*</td>
          <td class="ycell"><input type="text" name="nodetype" list="list3"/></td>
          <td></td>
          <td align="center"><br/>(dia.) (mm)</td>
          <td></td>
          <td class="ncell">(5) Survey date (DD/MM/YYYY)</td>
          <td class="ycell" colspan="2"><input type="text" name="surveydate"/></td>
        </tr>
        <tr>
          <td width="100px" class="ncell">COVER</td>
          <td width="100px" class="ncell">(15) Shape*</td>
          <td width="100px" class="ycell"><input type="text" name="shape" list="list4"/></td>
          <td width="100px" class="ncell">(16) Hinged</td>
          <td width="100px" class="ycell"><input type="text" name="hinge"/></td>
          <td width="100px" class="ncell">(17) Lock</td>
          <td width="100px" class="ycell"><input type="text" name="locker"/></td>
          <td width="100px" class="ncell">(18) Duty*</td>
          <td width="100px" class="ycell"><input type="text" name="duties" list="list5"/></td>
          <td width="100px" class="ncell">(19) Cover size</td>
          <td width="120px" class="cella"><input type="text" name="cover1" class="num1"/></td>
          <td width="50px" class="cellb">*</td>
          <td width="120px" class="cellc"><input type="text" name="cover2" class="num1"/></td>
          <td width="120px" class="ncell">(29) Toxic atmosphere</td>
          <td width="50px" class="ycell"><input type="text" name="toxic" value="N"/></td>
        </tr>
        <tr>
          <td class="ncell">SHAFT</td>
          <td class="ncell">(20) Side entry</td>
          <td class="ycell"><input type="text" name="side"/></td>
          <td class="ncell">(21) Regular course</td>
          <td class="ycell"><input type="text" name="course"/></td>
          <td class="ncell">(22) Depth (mm)</td>
          <td class="ycell"><input type="text" name="depths"/></td>
          <td class="ncell"></td>
          <td class="ncell"></td>
          <td class="ncell">(23) Shaft size</td>
          <td class="celld"><input type="text" name="shaft1"/></td>
          <td class="celle">*</td>
          <td class="cellf"><input type="text" name="shaft2"/></td>
          <td class="ncell">(30) Evidence of vermin</td>
          <td class="ycell"><input type="text" name="evidences" value="N"/></td>
        </tr>
        <tr>
          <td class="ncell">CHAMBER</td>
          <td class="ncell">(24) Soffit*</td>
          <td class="ycell"><input type="text" name="soffit" list="list6"/></td>
          <td class="ncell">(25) Steps</td>
          <td class="ycell"><input type="text" name="steps"/></td>
          <td class="ncell">(26) Ladders</td>
          <td class="ycell"><input type="text" name="ladder"/></td>
          <td class="ncell">(27) LNDGS</td>
          <td class="ycell"><input type="text" name="lndgs"/></td>
          <td class="ncell">(28) Chamber size</td>
          <td class="cellg"><input type="text" name="csize1"/></td>
          <td class="cellh">*</td>
          <td class="celli"><input type="text" name="csize2"/></td>
          <td class="ncell">(31) Construct code *</td>
          <td class="ycell"><input type="text" name="construct" value="I" list="list7"/></td>
        </tr>
        <tr style="height:10px;"><td class="ncell" colspan="15"></td></tr>
        <tr>
          <td class="ncell"></td>
          <td class="ncell">(32) Depth of flow (mm)</td>
          <td class="ycell"><input type="text" name="depthflow" class="num1"/></td>
          <td class="ncell">(33) Depth of silt (mm)</td>
          <td class="ycell"><input type="text" name="depthsilt" class="num1"/></td>
          <td class="ncell">(34) Height surch (mm)</td>
          <td class="ycell"><input type="text" name="height" class="num1"/></td>
          <td class="ncell">(61) MH depth (m)</td>
          <td class="ycell"><input type="text" name="mdepth" class="num1"/></td>
          <td class="ncell">(35) Cover level (mPD)</td>
          <td class="ycell"><input type="text" name="mcover" class="num1"/></td>
          <td class="ncell" colspan="4"></td>
        </tr>
      </table>
      <!-- 表格1完成 -->
      <table class="apache">
        <tr><td>A</td></tr>
        <tr><td>B</td></tr>
        <tr><td>C</td></tr>
        <tr><td>D</td></tr>
        <tr><td>E</td></tr>
        <tr><td>F</td></tr>
        <tr><td>G</td></tr>
        <tr><td>H</td></tr>
      </table>
      <!-- 表格2开始 -->
      <table id="table2" class="table">
        <thead>
        <tr height="15px">
          <td rowspan="2">(36) Upstream.Ref</td>
          <td rowspan="2">(37) Pipe shape*</td>
          <td rowspan="2" colspan="3">(38) Pipe size (mm)</td>
          <td rowspan="2">(39) Backdrop (mm)</td>
          <td rowspan="2">(40) Pipe material</td>
          <td rowspan="2">(41) Lining</td>
          <td rowspan="2">(42) Pipe depth(m)</td>
          <td rowspan="2">(43) Invert level</td>
          <td rowspan="2">(71) Photo no.</td>
          <td colspan="2">(63) For office use</td>
        </tr>
        <tr height="15px">
          <td>Wall No.</td>
          <td>Location (m).</td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="i:${#numbers.sequence(0, 7)}">
          <td width="100px"><input type="text" name=""/></td>
          <td width="100px"><input type="text" name="" list="list8"/></td>
          <td width="110px"><input type="text" name="" class="num1"/></td>
          <td width="44px">*</td>
          <td width="110px"><input type="text" name="" class="num1"/></td>
          <td width="100px"><input type="text" name=""/></td>
          <td width="100px"><input type="text" name=""/></td>
          <td width="100px"><input type="text" name="" list="list9"/></td>
          <td width="100px"><input type="text" name="" class="num1"/></td>
          <td width="100px"><input type="text" name="" class="num1"/></td>
          <td width="100px"><input type="text" name=""/></td>
          <td width="148px"><input type="text" name=""/></td>
          <td width="148px"><input type="text" name=""/></td>
        </tr>
        </tbody>
      </table>
      
      <!-- 表格CCTV 和 CRITY开始 -->
      <div style="width:100px;height:34px;margin-top:10px;float:left;"></div>
      <table id="itab1" class="table">
        <tr height="32px"><td>(44) CCTV COND</td><td><input type="text" name="cond" value="N"/></td></tr>
      </table>
      <table id="itab2" class="table">
        <tr height="32px"><td>(45) CRITY</td><td><input type="text" name="crit" value="N"/></td></tr>
      </table>
      <div style="width:832px;height:34px;margin-top:10px;float:left;"></div>
      <!-- 表格CCTV 和 CRITY结束 -->
      
      <table class="apache">
        <tr><td>X</td></tr>
        <tr><td>Y</td></tr>
      </table>
      <!-- 表格3 -->
      <table id="table3" class="table">
        <thead>
        <tr height="15px">
          <td rowspan="2">(36) Upstream.Ref</td>
          <td rowspan="2">(37) Pipe shape*</td>
          <td rowspan="2" colspan="3">(38) Pipe size (mm)</td>
          <td rowspan="2">(39) Backdrop (mm)</td>
          <td rowspan="2">(40) Pipe material</td>
          <td rowspan="2">(41) Lining</td>
          <td rowspan="2">(42) Pipe depth(m)</td>
          <td rowspan="2">(43) Invert level</td>
          <td rowspan="2">(71) Photo no.</td>
          <td colspan="2">(63) For office use</td>
        </tr>
        <tr height="15px">
          <td>Wall No.</td>
          <td>Location (m).</td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="i:${#numbers.sequence(8,9)}">
          <td width="100px"><input type="text" name=""/></td>
          <td width="100px"><input type="text" name="" list="list8"/></td>
          <td width="110px"><input type="text" name="" class="num1"/></td>
          <td width="44px">*</td>
          <td width="110px"><input type="text" name="" class="num1"/></td>
          <td width="100px"><input type="text" name=""/></td>
          <td width="100px"><input type="text" name=""/></td>
          <td width="100px"><input type="text" name="" list="list9"/></td>
          <td width="100px"><input type="text" name="" class="num1"/></td>
          <td width="100px"><input type="text" name="" class="num1"/></td>
          <td width="100px"><input type="text" name=""/></td>
          <td width="148px"><input type="text" name=""/></td>
          <td width="148px"><input type="text" name=""/></td>
        </tr>
        </tbody>
      </table>
      
      <!-- 表格table开始 -->
      <table style="width:100px;margin-top:10px;float:left;" class="table">
        <tr height="30px"><td style="font-weight:600;">Conditions</td></tr>
        <tr height="30px"><td style="font-weight:600;">(52) Photo no.</td></tr>
      </table>
      <table class="ptab table">
        <tr><td>(46) Cover</td><td><select name="cover"></select></td></tr>
        <tr><td colspan="2"><input type="text" name="photo1" value="N"/></td></tr>
      </table>
      <div style="width:32px;height:65px;margin-top:10px;float:left;"></div>
      <table class="ptab table">
        <tr><td>(47) Iron / Ladder</td><td><select name="iron"></select></td></tr>
        <tr><td colspan="2"><input type="text" name="photo2" value="N"/></td></tr>
      </table>
      <div style="width:32px;height:65px;margin-top:10px;float:left;"></div>
      <table class="ptab table">
        <tr><td>(48) Shaft</td><td><select name="shaft"></select></td></tr>
        <tr><td colspan="2"><input type="text" name="photo3" value="N"/></td></tr>
      </table>
      <div style="width:32px;height:65px;margin-top:10px;float:left;"></div>
      <table class="ptab table">
        <tr><td>(49) Chamber</td><td><select name="chambers"></select></td></tr>
        <tr><td colspan="2"><input type="text" name="photo4" value="N"/></td></tr>
      </table>
      <div style="width:32px;height:65px;margin-top:10px;float:left;"></div>
      <table class="ptab table">
        <tr><td>(50) Benching</td><td><select name="benching"></select></td></tr>
        <tr><td colspan="2"><input type="text" name="photo5" value="N"/></td></tr>
      </table>
      <div style="width:32px;height:65px;margin-top:10px;float:left;"></div>
      <table class="ptab table">
        <tr><td>(51) Others</td><td><select name="other"></select></td></tr>
        <tr><td colspan="2"><input type="text" name="photo6" value="N"/></td></tr>
      </table>
      
      <!-- 表格4 -->
      <table id="table4" class="table">
        <tr>
          <td width="100px;">(53) UTR</td>
          <td width="100px;"><select name="util1"></select></td>
          <td width="130px;" rowspan="2">(59) Location photo no.</td>
          <td width="202px" rowspan="2"><textarea name="photono1"></textarea></td>
        </tr>
        <tr><td>(54) UTL</td><td><select name="util2"></select></td></tr>
        <tr>
          <td>(55) UTGA</td>
          <td><select name="util3"></select></td>
          <td rowspan="2">(60) Internal photo no.</td>
          <td rowspan="2"><textarea name="photono2"></textarea></td>
        </tr>
        <tr><td>(56) UTS</td><td><select name="util4"></select></td></tr>
        <tr>
          <td>(57) JETTING</td>
          <td><select name="util5"></select></td>
          <td rowspan="2">Slope No. </td>
          <td rowspan="2"><textarea name="slopeno"></textarea></td>
        </tr>
        <tr><td>(58) ON-SLOPE</td><td><select name="util6"></select></td></tr>
      </table>
      
      <!-- 表格5 -->
      <table id="table5" class="table">
        <tr>
          <td>(63) Remarks</td><td colspan="2">
          <textarea name="remarks"></textarea></td>
        </tr>
        <tr>
          <td width="100px">(64) Record plan difference</td>
          <td width="100px"><select name="dplan"></select></td>
          <td width="695px"><textarea name="rplan"></textarea></td>
        </tr>
        <tr>
          <td>(65) Cover type</td>
          <td><input type="text" name="ctype" list="ctype"/></td>
          <td><textarea name="rtype"></textarea></td>
        </tr>
      </table>
      
      <!-- 表格6 -->
      <input type="hidden" id="path1" name="path1"/>
      <input type="hidden" id="path2" name="path2"/>
      <table id="table6" class="table">
        <tr height="32px;">
          <td width="730px">(66) Location Sketch</td>
          <td width="730px">(67) Plan of MH</td>
        </tr>
        <tr height="480px">
          <td style="background-image: url('/survey/img/mbg.png');">
            <div id="picture1" contenteditable="true"></div>
          </td>
          <td style="background-image: url('/survey/img/mbg.png');">
            <div id="picture2" contenteditable="true"></div>
          </td>
        </tr>
      </table>
      
      <!-- 表格7 -->
      <table id="table7" class="table">
        <tr><td>(68) With Risk Assessment</td><td><select name="with1"></select></td></tr>
        <tr><td>(69) With Permit to Work</td><td><select name="with2"></select></td></tr>
        <tr><td>(70) With Traffic Permit</td><td><select name="with3"></select></td></tr>
      </table>
      <input type="hidden" name="type" value=""/>
      </form>
      <div id="remark">Remarks:  * - Code description refers to Appendix - Quick Reference for Code in IDMS Manhole Card</div>
      <input type="button" id="common1" value="保存"/>
      <input type="button" id="common2" value="保存/下一步"/>
    </div>
    
    <datalist id="list1">
      <option value="PU">Public</option>
	  <option value="PR">Private</option>
	  <option value="HD">Highway drain</option>
	  <option value="WA">Watercourse</option>
	  <option value="TR">Trunk</option>
	  <option value="AB">Abandoned</option>
	  <option value="TC">To be constructed</option>
	  <option value="HC">Housing Committee</option>
	  <option value="WA">Water Company Maintained</option>
	  <option value="U">Unspecified</option>
    </datalist>
    <datalist id="list2">
      <option value="F">Foul</option>
	  <option value="S">Surface</option>
	  <option value="C">Combined</option>
	  <option value="O">Overflow</option>
	  <option value="U">Unspecified</option>
    </datalist>
    <datalist id="list3">
      <option value="A">Catch Pit</option>
	  <option value="B">Hydrobrake</option>
	  <option value="C">Cascade</option>
	  <option value="D">Dual function Manhole</option>
	  <option value="E">Ejector</option>
	  <option value="F">Outfall</option>
	  <option value="G">Ghost</option>
	  <option value="H">Hatchbox</option>
	  <option value="I">Inlet</option>
	  <option value="J">Junction(Saddle)</option>
	  <option value="K">Combined</option>
	  <option value="L">Lamphole</option>
	  <option value="M">Manhol</option>
	  <option value="N">Dead End</option>
	  <option value="O">Oil Inteerceptor</option>
	  <option value="P">Pumping Station</option>
	  <option value="Q">Transition</option>
	  <option value="R">Rodding eye</option>
	  <option value="S">Soak-away</option>
	  <option value="T">Vent Column</option>
	  <option value="U">Unspecified</option>
	  <option value="V">Storm Overflow</option>
	  <option value="W">Treatment works</option>
	  <option value="X">Unreliable</option>
	  <option value="Y">Gully</option>
	  <option value="Z">Ghost in rising main</option>
    </datalist>
    <datalist id="list4">
      <option value="S">Square</option>
	  <option value="R">Retangular</option>
	  <option value="T">Triangular</option>
	  <option value="D">Dobule Triangular</option>
	  <option value="C">Circular</option>
	  <option value="U">Unspecified</option>
    </datalist>
    <datalist id="list5">
      <option value="L">Light</option>
	  <option value="M">Medium</option>
	  <option value="H">Heavy</option>
	  <option value="U">Unspecified</option>
    </datalist>
    <datalist id="list6">
      <option value="S">Reducing Slab</option>
	  <option value="T">Taper</option>
	  <option value="A">Arch</option>
	  <option value="C">Corbel</option>
	  <option value="N">None</option>
	  <option value="U">Unspecified</option>
    </datalist>
    <datalist id="list7">
	  <option value="I">In-Situ</option>
      <option value="B">Brick</option>
	  <option value="P">Pre-cast Units</option>
	  <option value="S">Segmental</option>
	  <option value="R">Rendered</option>
    </datalist>
    <datalist id="list8">
      <option value="">--</option>
      <option value="A">Arch(with flat- bottom)</option>
	  <option value="B">Barrel</option>
	  <option value="C">Circular</option>
	  <option value="E">Egg</option>
	  <option value="F">U-shaped(with flat-top)</option>
	  <option value="H">Horseshoe,inverted</option>
	  <option value="O">Oval</option>
	  <option value="R">Rectangular</option>
	  <option value="S">Square</option>
	  <option value="T">Trapezodial</option>
	  <option value="U">Unspecified</option>
	</datalist>
	<datalist id="list9">
      <option value="AK">Alkathene</option>
	  <option value="AC">Asbestos Cement</option>
	  <option value="BR">Brick</option>
	  <option value="CI">Cast Iron</option>
	  <option value="CO">Concrete</option>
	  <option value="CSB">Concrete Segemnts Bolted</option>
	  <option value="CSU">Concrete Segemnts</option>
	  <option value="CC">Concrete Box Culvert</option>
	  <option value="DI">Ductile Iron</option>
	  <option value="GRC">Glass Reinforeced</option>
	  <option value="GRP">Glass Reinforeced</option>
	  <option value="PSC">Plastic/Steel Composite</option>
	  <option value="PVC">Polyvinyl Chloride</option>
	  <option value="PE">Polyethylene</option>
	  <option value="RPM">Reinforced Plastic Matrix</option>
	  <option value="SI">Spun iron</option>
	  <option value="ST">Steel</option>
	  <option value="VC">Vitrified Clay</option>
	  <option value="PP">Polypropylene</option>
	  <option value="PF">Pitch Fibre</option>
	  <option value="MAC">Masonry, coursed</option>
	  <option value="MAR">Masonry, random</option>
	  <option value="U">Unspecified</option>
    </datalist>
	<datalist id="ctype">
	  <option value="ST">Standard</option>
	  <option value="SL">Standard-Large</option>
	  <option value="MC">Multiple Cover</option>
	  <option value="LA">Large</option>
	  <option value="WD">With Decoration Cover</option>
	  <option value="U">Others</option>
	</datalist>
  </body>
</html>