<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
  <head>
	<title>个人项目</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<link rel="icon" type="image/x-icon" href="/survey/favicon.ico"/>
	<link rel="stylesheet" type="text/css" href="/survey/css/common/itemlist.css"/>
	<link rel="stylesheet" type="text/css" href="/survey/css/manhole/showlist.css"/>
	<script type="text/javascript" src="/survey/js/jquery-1.9.1.min.js"></script>
	<script type="text/javascript" src="/survey/js/manhole/showlist.js"></script>
  </head>
  <body>
    <div id="Tip"></div>
    <div id="main">
      <div id="mainMenu">
        <div id="menuTitle">菜单</div>
        <div class="menu1"><a href="/survey/manhole/showlist">沙井列表</a></div>
        <div class="menu2"><a href="/survey/manhole/findlist">沙井管理</a></div>
        <div class="menu2"><a href="/survey/manhole/showlist">项目管理</a></div>
        <div class="menu2"><a href="/survey/manhole/showlist">项目管理</a></div>
        <div class="menu2"><a href="/survey/manhole/showlist">项目管理</a></div>
        <div class="menu2"><a href="/survey/manhole/showlist">项目管理</a></div>
        <div class="menu2"><a href="/survey/manhole/showlist">项目管理</a></div>
      </div>
      
      <div id="mainInfo">
        <div id="infoTop">沙井列表</div>
        <div id="infoMenu">
          <span>Project No：</span>
          <input id="menuBtn1" type="button" value="←"/>
          <input id="menuText" th:value="${param.name}"/>
          <input id="menuBtn2" type="button" th:value="立即查询"/>
          <div style="height:100%;float:left;"></div>
          <input type="button" id="append" th:value="新建"/>
          <input type="button" id="import" th:value="管理"/>
        </div>
        <table id="tab1">
          <thead>
            <tr height="40px" style="background-color:#51596b;">
              <th width="4%">NO</th>           
			  <th width="14%">Project No</th>
			  <th width="14%">Work Order</th> 
			  <th width="18%">Area Code</th>
			  <th width="12%">Node Ref</th>
			  <th width="12%">Survey User</th>   
			  <th width="12%">Survey Date</th> 
			  <th width="14%">Operator</th>
			</tr>       
          </thead>
          <tbody style="font-family:'Times New Roman'">
            <tr th:each="manhole,status:${manholes}" th:id="${manhole.id}">
              <td th:text="${status.count+(page-1)*15}"></td>
              <td><a th:href="@{updateview(id=${manhole.id})}" th:text="${manhole.projectno}"></a></td>
          	  <td th:text="${manhole.workorder}"></td>
          	  <td th:text="${manhole.areacode}"></td>
          	  <td th:text="${manhole.node}"></td>
          	  <td th:text="${manhole.surveyname}"></td>
          	  <td th:text="${manhole.surveydate}"></td>
		      <td>
		        <input type="button" value="编辑" style="background-color:#3CB44B;">
		        <input type="button" value="下载" style="background-color:#2CACF1;">
		        <input type="button" value="删除" style="background-color:#F34D4D;">
		      </td>
          	</tr>
          </tbody>
        </table>
        <img th:if="${#lists.isEmpty(manholes)}" src="/survey/img/null.png" style="margin:145px 400px;float:left;">
        <table id="tab2" th:if="${!#lists.isEmpty(manholes)}">
          <tr height="65px">
            <td width="45%" align="right"><input type="button" value="上一页" class="pagebtn"/></td>
            <td width="10%" align="center"><a id="page1" th:text="${page}"></a> / <a id="page2" th:text="${cont}"></a></td>
            <td width="45%" align="left"><input type="button" value="下一页" class="pagebtn"/></td>
          </tr>
        </table>
      </div>
    </div>
    <div id="page"></div>
    <div style="width:100%;margin-top:20px;float:left;color:#ccc;text-align: center;font-size:14px;">
      <p>香港麦斯迪埃高科技有限责任公司</p>
      <p>Copyright © 2017 All Rights Reserved</p>	
    </div>
  </body>
</html>