@CHARSET "UTF-8";

body {
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
}

input {
    padding: 0;
}

#main {
    width: 1460px;
    height: 1900px;
    margin: 10px auto;
    padding: 0 20px;
    border: 1px solid #ccc;
    background-color: #fff;
}

#logo {
    width: 700px;
    height: 112px;
    margin: 20px 0 40px 0;
    cursor: pointer;
    float: left;
}

#edit {
    width: 30px;
    height: 30px;
    margin: 60px 20px 82px 20px;
    float: left;
}

#edit img {
    cursor: pointer;
    display: none;
}

#idms {
    width: 458px;
    height: 110px;
    font: 24px Times New Roman;
    font-style: italic;
    font-weight: 700;
    text-align: center;
    line-height: 110px;
    margin: 20px 0 40px 230px;
    border: 1px solid #000;
    float: left;
}

.table {
    font-size: 10px;
    font-family: Times New Roman;
    border-collapse: collapse;
    float: left;
}

.table tbody tr td input {
    width: 100%;
    font-size: 14px;
    text-indent: 8px;
    font-family: Times New Roman;
    outline: none;
    border: none;
}

.table tbody tr td select {
    width: 100%;
    font-size: 14px;
    text-indent: 5px;
    font-family: Times New Roman;
    outline: none;
    border: none;
}

.ycell {
    border: 1px solid #000;
}

.ncell {
    border: none;
}

.cella {
    border-top: 1px solid #000;
    border-right: 1px dashed #000;
    border-bottom: 1px dashed #000;
    border-left: 1px solid #000;
}

.cellb {
    border-top: 1px solid #000;
    border-right: 1px dashed #000;
    border-bottom: 1px dashed #000;
    border-left: 1px dashed #000;
}

.cellc {
    border-top: 1px solid #000;
    border-right: 1px solid #000;
    border-bottom: 1px dashed #000;
    border-left: 1px dashed #000;
}

.celld {
    border-top: 1px dashed #000;
    border-right: 1px dashed #000;
    border-bottom: 1px dashed #000;
    border-left: 1px solid #000;
}

.celle {
    border-top: 1px dashed #000;
    border-right: 1px dashed #000;
    border-bottom: 1px dashed #000;
    border-left: 1px dashed #000;
}

.cellf {
    border-top: 1px dashed #000;
    border-right: 1px solid #000;
    border-bottom: 1px dashed #000;
    border-left: 1px dashed #000;
}

.cellg {
    border-top: 1px dashed #000;
    border-right: 1px dashed #000;
    border-bottom: 1px solid #000;
    border-left: 1px solid #000;
}

.cellh {
    border-top: 1px dashed #000;
    border-right: 1px dashed #000;
    border-bottom: 1px solid #000;
    border-left: 1px dashed #000;
}

.celli {
    border-top: 1px dashed #000;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
    border-left: 1px dashed #000;
}

#table1 {
    width: 100%;
}

#table1 tr {
    height: 36px;
}

#table1 tr td {
    padding: 0;
}

#table1 tr td input {
    height: 32px;
}

#table1 tr td select {
    height: 32px;
}

#table1 tr td div {
    width: 15%;
    height: 16px;
    text-align: right;
    line-height: 16px;
    float: left;
}

.apache {
    width: 50px;
    font-size: 13px;
    text-align: center;
    font-family: Times New Roman;
    margin: 45px 0px 0px 50px;
    font-weight: 600;
    float: left;
}

.apache tr {
    height: 28px;
}

#table2 {
    width: 1360px;
    margin-top: 10px;
    text-align: center;
}

#table2 thead tr td {
    font-weight: 600;
    border: 1px solid #000;
}

#table2 tbody tr {
    height: 30px;
}

#table2 tbody tr td {
    border: 1px solid #000;
}

#table2 tbody tr td input {
    height: 25px;
}

#itab1, #itab2 {
    width: 202px;
    margin: 10px 60px 0px 0px;
    text-align: center;
}

#itab1 tbody tr td, #itab2 tbody tr td {
    width: 101px;
    border: 1px solid #000;
}

#itab1 tbody tr td input, #itab2 tbody tr td input {
    height: 28px;
    text-align: center;
    text-indent: 0px;
}

#table3 {
    width: 1360px;
    margin-top: 10px;
    text-align: center;
}

#table3 thead tr td {
    font-weight: 600;
    border: 1px solid #000;
}

#table3 tbody tr {
    height: 30px;
}

#table3 tbody tr td {
    border: 1px solid #000;
}

#table3 tbody tr td input {
    height: 25px;
}

#table3 tbody tr td select {
    height: 27px;
}

.ptab {
    width: 200px;
    margin-top: 10px;
    margin-right: 32px;
    text-align: center;
}

.ptab tr {
    height: 30px;
}

.ptab tr td {
    width: 100px;
    border: 1px solid #000;
}

.ptab tr td input {
    height: 25px;
    text-align: center;
    text-indent: 0px;

}

.ptab tr td select {
    height: 27px;
}

#table4 {
    width: 532px;
    margin-top: 10px;
}

#table4 tr {
    height: 30px;
}

#table4 tr td {
    border: 1px solid #000;
}

#table4 tr td input {
    height: 50px;
}

#table4 tr td select {
    height: 27px;
}

#table5 {
    width: 895px;
    margin-top: 10px;
    margin-left: 32px;
}

#table5 tr {
    height: 60px;
}

#table5 tr td {
    border: 1px solid #000;
}

#table5 tr td input {
    height: 30px;
}

#table5 tr td select {
    height: 57px;
}

#table5 tr td textarea {
    width: 98%;
    height: 48px;
    font-size: 16px;
    text-indent: 4px;
    font-family: Times New Roman;
    outline: none;
    border: none;
    resize: none;
}

.ctype1 {
    color: #000;
    text-align: center;
    cursor: pointer;
}

.ctype2 {
    color: #999;
    text-align: center;
    cursor: pointer;
}

#table6 {
    width: 1460px;
    margin-top: 10px;
}

#table6 tr td {
    border: 1px solid #000;
}

#picture1, #picture2 {
    width: 715px;
    height: 466px;
    padding: 5px;
    align-items: center;
    outline: none;
    display: flex;
    float: left;
}

#picture1 img, #picture2 img {
    max-width: 700px;
    max-height: 460px;
    margin: 0px auto;
}

#table7 {
    width: 300px;
    margin-top: 10px;
}

#table7 tr {
    height: 30px;
}

#table7 tr td {
    width: 50%;
    border: 1px solid #000;
}

#table7 tr td select {
    height: 26px;
}

#remark {
    width: 100%;
    height: 40px;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    line-height: 40px;
    font-family: Times New Roman;
    margin-top: 10px;
    float: left;
}

#item1, #item2, #item3 {
    right: 6%;
    width: 76px;
    height: 40px;
    color: #ffffff;
    font-size: 16px;
    font-family: fangsong;
    text-align: center;
    line-height: 40px;
    background-color: #41495d;
    position: fixed;
}

#item1:hover, #item2:hover, #item3:hover {
    background-color: #ff4444;
    cursor: pointer;
}

/** ******************************************************************* */
#tips {
    top: 40%;
    left: 45%;
    padding: 10px 20px;
    position: fixed;
    color: #ffffff;
    font-size: 18px;
    font-family: simsun;
    text-align: center;
    line-height: 80px;
    background-color: rgba(60, 60, 60, 0.8);
    border-radius: 6px;
    display: none;
    z-index: 9;
}

input::-webkit-calendar-picker-indicator {
    -webkit-appearance: none;
    display: none;
}